* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #8e246c;
	font-size: 1rem;
}

body {
	font-family: 'Comfortaa', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

hr {
	color: #8e246c;
}

.wrapper {
	padding: 0.5rem 0.7rem;
	width: 100%;
	min-width: 30rem;
	max-width: 40rem;
	max-height: 40rem;
}

header {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.item-wrapper:last-child {
	margin-bottom: 1rem;
}

.header-content-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1rem;
}

.item-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #f1c9e4;
	width: 100%;
	flex-grow: 1;
	border-radius: 0.3rem;
	padding: 0.5rem 1rem;
	gap: 1rem;
	margin-top: 1rem;
}

.item-image-wrapper {
	margin: auto 0;
	flex-shrink: 1;
}

.item-image-wrapper > img {
	border-radius: 0.2rem;
}

.item-content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}

.item-info-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.item-rating-delivery-time-wrapper {
	display: flex;
	flex-direction: row;
	gap: 0.7rem;
	margin-top: 0.5rem;
}

.item-price-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.item-description {
	margin-top: 0.3rem;
}

#title,
.item-name {
	font-size: 1.5rem;
}

#title {
	font-weight: bold;
}

button {
	outline: none;
	border: none;
	font-family: 'Comfortaa', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.button-primary,
.button-secondary {
	background-color: #f1c9e4;
	color: #8e246c;
	border-radius: 0.2rem;
	font-size: 1rem;
	padding: 0.2rem 0.4rem;
}

.button-secondary {
	background-color: #ea6ec1;
	color: #8e246c;
}

.button-primary:hover,
.button-secondary:hover {
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin: auto 0;
	background-color: #f1c9e4;
	border-radius: 0.2rem;
	padding: 0.2rem 0.4rem;
}

.dropdown:hover {
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 12rem;
	box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
	border-radius: 0.2rem;
	z-index: 1;
}

.dropdown-content > hr {
	width: 11rem;
	margin: 0 auto;
}

.dropdown-item {
	border-radius: 0.2rem;
	padding: 0.8rem;
}

.dropdown-item:hover {
	background-color: rgb(231, 231, 231);
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
}
